<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <meta name="theme-color" content="#e64415" media="(prefers-color-scheme: light)">
   <!--  <link rel="stylesheet" href="">
    <link rel="stylesheet" media="(max-width:719px)" href="">
    <link rel="stylesheet" media="(min-width:720px) and (max-width:1011px)" href="">
    <link rel="stylesheet" media="(min-width:1012px)" href=""> -->
</head>
<!-- Beispiel für Data-Params: data-params="{&#34;icon&#34;:&#34;Live Gas-Tracker&#34;,&#34;href&#34;:&#34;https://wwww.kolumnen.de&#34;}" -->
<div class="graphics-svelte-wrap" data-type="svelte-app" data-params="{&#34;title&#34;:&#34;Hallo Welt&#34;,&#34;subtitle&#34;:&#34;Nuevo proyecto&#34;}">
    <!-- css-placeholder -->
    <div></div>
    <%- injectScript %><!-- js-placeholder -->
</div>
