<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="color-scheme" content="light dark" />
    <title><%- title %> - AIDA MARQUEZ</title>
    <link rel="shortcut icon" href="/img/cropped-cropped-cropped-logo-1-mini-1.png" type="image/ico">
</head>
<body>
<div></div>
<%- injectScript %><!-- js-placeholder -->
<noscript>Bitte aktivieren Sie JavaScript in Ihrem Browser, um den Inhalt sehen zu können.</noscript>
</body>
</html>
