@import "./scss-vars";

:global div[data-type='graphics-svelte-app'] {

  --int-font-color-default: #{$basic-black};
  --int-font-color-credit: #{$basic-black};
  --int-font-color-shade-base: #{$shade-base};
  --int-font-color-shade-darker: #{$shade-darker};
  --int-font-color-shade-dark: #{$shade-dark};
  --int-font-color-shade-light: #{$shade-light};
  --int-font-color-shade-lightest: #{$shade-lightest};
  --int-background-color-default: #{$basic-white};
  --int-border-color-default: #{$shade-base};

  @media (prefers-color-scheme: dark) {
    --int-font-color-default: #{$basic-white-dark};
    --int-font-color-credit: #{$basic-white-dark};
    --int-font-color-shade-darker: #{$shade-lighter};
    --int-font-color-shade-dark: #{$shade-light};
    --int-font-color-shade-light: #{$shade-dark};
    --int-font-color-shade-lightest: #{$shade-darkest};
    --int-background-color-default: #{$basic-black-dark};
    --int-border-color-default: #{$shade-light};
  }
}
